<table> 
  <tr> 
   <td>Course</td> 
   <td>Work</td> 
   <td>Due Day</td> 
  </tr> 
  <% @tasks.each do |task| %> 
  <tr> 
   <td><%= task.course %></td> 
   <td><%= task.work %></td> 
   <td><%= task.dueday %></td> 
   <td><%= link_to "show task", task_path(task.id) %></td>
   <td><%= link_to "edit task", edit_task_path(task.id) %></td>
   <td><%= link_to "destroy task", task, confirm: "Are you sure you want to destroy this task?", method: :delete %> </td>
  </tr> 
  <% end %> 
</table> 