
<table> 
  <tr> 
   <td>course</td> 
   <td>work</td> 
   <td>due day</td> 
  </tr> 
  <% @tasks.each do |task| %> 
  <tr> 
   <td><%= task.course %></td> 
   <td><%= task.work %></td> 
   <td><%= task.dueday %></td>

   <td><%= link_to "show task", task_path(task.id) %> </td>
   <td><%= link_to "edit task", edit_task_path(task.id) %> </td>
   <td><%= link_to "destroy task", task, confirm: "you sure you want to do this?", method: :delete %> 
</td>

  </tr> 
  <% end %> 
</table> 