<head>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
</br>

<div class="container">
  <h1 id="title">Upcoming Tasks</h1>
  <a id = "unhide">Click to hide title</a>
<table class = "table table-borderless" id ="tbl-tasks"> 
  <tr> 
   <td id = "crs"><b>Course</td> 
   <td id = "wrk"><b>Work</td> 
   <td id = "due"><b>Due Day</td> 
  </tr> 
  <% @tasks.each do |task| %> 
  <tr> 
   <td><%= task.course %></td> 
   <td><%= task.work %></td> 
   <td><%= task.dueday %></td> 
   <td><%= link_to "show task", task_path(task.id) %></td>
   <td><%= link_to "edit task", edit_task_path(task.id) %></td>
   <td><%= link_to "destroy task", task, confirm: "Are you sure you want to destroy this task?", method: :delete %> </td>
  </tr> 
  <% end %> 
</table> 
</div>