<head>
  <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
</head>
<h1 id="title">Show Task</h1>
<a id = "unhide">Click to hide title</a>

<div id ="show-tsk">
	<div id="show-contents">
	<h1><%= @task.course %></h1>
	<p><%= @task.work %></p>
	<p><%= @task.dueday %></p>
	<p><%= @task.email %></p>
	<p><%= @name%></p>
</div>
</div>
