<head>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>
</br>
<div class="container">
<h1 id="title1">Subparts</h1>
<a id = "unhide1">Click to hide title</a>
<table class = "table table-borderless" id ="tbl-tasks"> 
	<tr>
		<td id="wrk">Title</td>
		<td id="wrk">Complete?</td>
		<td id="wrk">Priority</td>
		<td id="wrk">Task</td>
	</tr>
	<% if @part_lists !=[] %>
	<% @part_lists.high_priority.each do |part_list| %>
	<tr>
		<td><%= part_list.title %></td>
		<td><%= part_list.complete %></td>
		<td><%= part_list.priority %></td>
		<td><%= part_list.task.try(:course) %></td>
		<td><%= link_to "show subpart", part_list_path(part_list.id) %></td>
		<td><%= link_to "edit subpart", edit_part_list_path(part_list.id) %> </td>
		<td><%= link_to "destroy subpart", part_list,  method: :delete %> </td>

	</tr>
	<% end %>

	<% @part_lists.med_priority.each do |part_list| %>
	<tr>
		<td><%= part_list.title %></td>
		<td><%= part_list.complete %></td>
		<td><%= part_list.priority %></td>
		<td><%= part_list.task.try(:course) %></td>
		<td><%= link_to "show subpart", part_list_path(part_list.id) %></td>
		<td><%= link_to "edit subpart", edit_part_list_path(part_list.id) %> </td>
		<td><%= link_to "destroy subpart", part_list,  method: :delete %> </td>

	</tr>
	<% end %>

	<% @part_lists.low_priority.each do |part_list| %>
	<tr >
		<td><%= part_list.title %></td>
		<td><%= part_list.complete %></td>
		<td><%= part_list.priority %></td>
		<td><%= part_list.task.try(:course) %></td>
		<td><%= link_to "show subpart", part_list_path(part_list.id) %></td>
		<td><%= link_to "edit subpart", edit_part_list_path(part_list.id) %> </td>
		<td><%= link_to "destroy subpart", part_list,  method: :delete %> </td>

	</tr>
	<% end %>
	<%end%>

</table>
<p id = "message"><%= @message %> </p>
</div>
</body>