<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>

</head>
<body>
<header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
<nav id ="nav"class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Workstagram</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/.">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/tasks">View all</a></li>
          <li><a href="/tasks/new">Create new</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subparts<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/part_lists">View all</a></li>
          <li><a href="/part_lists/new">Create new</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</header>
</br>

<div id="user-widget">
  </br>
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to image_tag("facebook_login_button.png", :border => 0), "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%= yield %> 

</body>
</html>